#navBar{
  margin-left: 5%;
  margin-top: 5%;
  height: auto;
  width: 20%;
  box-shadow: 0;
  border: 0;
  background-color:rgba(0, 0, 0, 0);
}
#nav-text{
  color: maroon;
}
.table-of-contents a{
  width: auto;
  color: #800000;
  font-family: BenchNine;
  letter-spacing: 5px;
}
#table-of-contents-small a{
  width: auto;
  color: #3f3f3f;
  font-family: BenchNine;
  letter-spacing: 2px;
}
#table-of-contents-small:hover{
  /*width: 50px;
  height: 50px;*/
  background-color: rgba(0,0,0,0.13);
}
.small-nav{
  width: 100%;
  text-align: center;
}
#small-links{
  color: maroon;
}


.footer{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: maroon;
}
#footer-about{
  padding-right: 1%;
  color: maroon;
}
#footer-contact{
  padding-right: 1%;
  color: maroon;
}
#footer-about:hover{
  color: #039BE5;
}
#footer-contact:hover{
  color: #039BE5;
}
.divider{
  color: #039BE5;
  margin-left: 1%;
  margin-right: 1%;
}
#footer-copyright{
  color: #3f3f3f;
}
