.listings-container-large{
  width: 80%;
  margin-left: 25%;
  margin-right: auto;
}
#listings_underline{
  width: 125px;
  margin-bottom: 5%;
}
.red{
  color: red !important;
  background-color: transparent !important;
}
.card{
  background-color: white;
  display: inline-block;
}
i{
  color: maroon;
}
