.loans-container-large{
  margin-left: 20%;
  width: 80%;
  background-color: #F2F2F2;
}
.loans-container-small{
  /*margin-left: 20%;*/
  width: 70%;
  background-color: #F2F2F2;
}

#apr_position{
  position: absolute;
  left: 105%;
  top: 43%;
}

#apr_vs_ir_position{
  position: absolute;
  left: -55%;
  top: 43%;
}

#mortgage_point_position{
  position: absolute;
  left: 90%;
  top: 40%;
}

#affordability_mortgage_position{
  position: absolute;
  left: -67%;
  top: 43%;
}

#fees_position{
  position: absolute;
  left: 105%;
  top: 43%;
}

#home_expense_position{
  position: absolute;
  left: -55%;
  top: 0;
}
