<div class="about_keeper">

  <!-- set parallax on div and keep the pic on top stagnant -->
  <!-- <div class="parallax-container">
   <div class="about_style_box parallax"><img class="col s6 offset-s6" id="about_pic1" src="images/about_pic1.jpg" alt="" />
   </div>
 </div> -->
 <div class="about_style_box">
   <img class="col s6 offset-s2" id="about_pic1" src="images/about_pic1.jpg" alt="" />
 </div>

<div class="row ">
  <div class="about_text col s6 offset-s6">
    <h4 class="us_titles">About STL Real Estate</h4>
    <div class="underline_about"></div>
    <p class="text col s12 ">
      STL Real Estate is a family owned company that was established in 1997.
      Our deep understanding of the real estate industry and market allows us to deliver
      efficient results to our clients.
      We pride ourselves in our accountability, integrity, quality, and professionalism.
      We foster an environment with our clients
    </p>
    <p class="text col s12 " >
      We specialize in both commercial and residential properties.
    </p>
    <img class="text col s6" id="about_pic2" src="images/about_pic2.jpg" alt="" />

  </div>
</div>

  <!-- <div class="about_pic2_box">
  </div> -->

</div>
