<h3 class='page-headers'>Buying a Home</h3>


<div class='buying-container'>


  <section class="row">
  <div class="responsive-img contatiner_steps col s12 m6 l6">
    <h5 class="steps_title">RESEARCH</h5>
    <div class="underline"></div>
    <div class="underline" id="research_line"></div>
    <p class="text">
      As soon as you can, start reading Web sites, newspapers, and magazines
      that have real estate listings. Make a note of particular homes you are
      interested in and see how long they stay on the market. Also, note
      any changes in asking prices. This will give you a sense of the
      housing trends in specific areas.
    </p>
  </div>
  </section>
  <section class="row">
  <div class="responsive-img contatiner_steps right col s12 m6 l6">
    <h5 class="steps_title" id="affordability_position">AFFORDABILITY</h5>
    <div class="underline"></div>
    <div class="underline" id="left_line"></div>
    <p class="text">
      Lenders generally recommend that people look for homes that cost no more
      than three to five times their annual household income if the home buyers
      plan to make a 20% down payment and have a moderate amount of other debt.
    </p>
  </div>
  </section>
  <br>
  <br>
  <br>
  <section class="row">
    <div class="responsive-img contatiner_steps col s12 m6 l6">
      <h5 class="top_title">PREAPPROVED</h5>
      <h5 class="steps_title">PREQUALIFIED</h5>
      <div class="underline"></div>
      <div class="underline" id="research_line"></div>
      <p class="text">
        Before you start looking for a home, you will need to know how much you can
        actually spend. The best way to do that is to get prequalified for a mortgage.
        To get prequalified, you just need to provide some financial information to
        your mortgage banker, such as your income and the amount of savings and
        investments you have. Your lender will review this information and tell you
        how much we can lend you. This will tell you the price range of the homes you
        should be looking at. Later, you can get preapproved for credit, which involves
        providing your financial documents (W-2 statements, paycheck stubs, bank account
        statements, etc.) so your lender can verify your financial status and credit.
      </p>
    </div>
  </section>
  <section class="row">
  <div class="responsive-img contatiner_steps right col s12 m6 l6">
    <h5 class="steps_title" id="agent_position">AGENT</h5>
    <div class="underline"></div>
    <div class="underline" id="left_line"></div>
    <p class="text">
      Real estate agents are important partners when you’re buying or selling a home.
      Real estate agents can provide you with helpful information on homes and neighborhoods
      that isn’t easily accessible to the public. Their knowledge of the home buying process,
      negotiating skills, and familiarity with the area you want to live in can be extremely
      valuable. And best of all, it doesn’t cost you anything to use an agent – they’re
      compensated from the commission paid by the seller of the house.
    </p>
  </div>
  </section>
  <section class="row">
  <div class="responsive-img contatiner_steps col s12 m6 l6">
    <h5 class="top_title" id="shop_position">SHOP</h5>
    <h5 class="steps_title right_title" >OFFER</h5>
    <div class="underline"></div>
    <div class="underline" id="research_line"></div>
    <p class="text">
      Start touring homes in your price range.
    </p>
    <ul class="text">Check out the little details of each house
      <li class="text">1. Test the plumbing by running the shower to see how strong the water pressure is and
                       how long it takes to get hot water</li>
      <li class="text">2. Try the electrical system by turning switches on and off</li>
      <li class="text">3. Open and close the windows and doors to see if they work properly</li>
    </ul>
    <ul class="text">Evaluate the neightborhood
      <li class="text">1. Are the other homes on the block well maintained?</li>
      <li class="text">2. How much traffic does the street get?</li>
      <li class="text">3. Is there enough street parking for your family and visitors?</li>
      <li class="text">4.Is it conveniently located near places of interest to you: schools,
        shopping centers, restaurants, parks, and public transportation?</li>
    </ul>
    <p class="text">
      Take as much time as you need to find the right home. Then work with your real estate
      agent to negotiate a fair offer based on the value of comparable homes in the same
      neighborhood. Once you and the seller have reached agreement on a price, the
      house will go into escrow, which is the period of time it takes to complete all of
      the remaining steps in the home buying process.
    </p>
  </div>
  </section>
  <section class="row">
  <div class="responsive-img contatiner_steps right col s12 m6 l6">
    <h5 class="steps_title" id="inspection_position">HOME INSPECTION</h5>
    <div class="underline"></div>
    <div class="underline" id="left_line"></div>
    <p class="text">
    Typically, purchase offers are contingent on a home inspection of the property to check
    for signs of structural damage or things that may need fixing. Your real estate agent usually
    will help you arrange to have this inspection conducted within a few days of your offer being
    accepted by the seller. This contingency protects you by giving you a chance to renegotiate
    your offer or withdraw it without penalty if the inspection reveals significant material damage.
    </p>
    <p class="text">
    Both you and the seller will receive a report on the home inspector’s findings. You can then
    decide if you want to ask the seller to fix anything on the property before closing the sale.
    Before the sale closes, you will have a walk-through of the house, which gives you the chance
    to confirm that any agreed-upon repairs have been made.
    </p>
  </div>
  </section>
  <section class="row">
  <div class="responsive-img contatiner_steps col s12 m6 l6">
    <h5 class="steps_title right_title">LOAN</h5>
    <div class="underline"></div>
    <div class="underline" id="research_line"></div>
    <p class="text">
      Lenders have a wide range of competitively priced loan programs and a reputation for exceptional customer
      service. You will have many questions when you are purchasing a home, and having one of our experienced,
      responsive mortgage bankers assist you can make the process much easier.
    </p>
    <p class="text">
      Every home buyer has their own priorities when choosing a mortgage. Some are interested in keeping their
      monthly payments as low as possible. Others are interested in making sure that their monthly payments never
      increase. And still others pick a loan based on the knowledge they will be moving again in just a few years.
    </p>
  </div>
  </section>
  <section class="row">
  <div class="responsive-img contatiner_steps right col s12 m6 l6">
    <h5 class="steps_title" id="appraisal_position">APPRAISAL</h5>
    <div class="underline"></div>
    <div class="underline" id="left_line"></div>
    <p class="text">
    Lenders will arrange for an appraiser to provide an independent estimate of the value of the house you are
    buying. The appraiser is a member of a third party company and is not directly associated with the lender.
    The appraisal will let all the parties involved know that you are paying a fair price for the home.
    </p>
  </div>
  </section>
  <section class="row">
  <div class="responsive-img contatiner_steps col s12 m6 l6">
    <h5 class="steps_title right_title" id="paperwork_position">PAPERWORK</h5>
    <div class="underline"></div>
    <div class="underline" id="research_line"></div>
    <p class="text">
    As you can imagine, there is a lot of paperwork involved in buying a house. Your lender will arrange
    for a title company to handle all of the paperwork and make sure that the seller is the rightful owner
    of the house you are buying.
    </p>
  </div>
  </section>
  <section class="row">
  <div class="responsive-img contatiner_steps right col s12 m6 l6">
    <h5 class="steps_title" id="closing_position">CLOSING</h5>
    <div class="underline"></div>
    <div class="underline" id="left_line"></div>
    <p class="text">
      At closing, you will sign all of the paperwork required to complete the purchase, including your loan
      documents. It typically takes a couple of days for your loan to be funded after the paperwork is
      returned to the lender. Once the check is delivered to the seller, you are ready to move into your new home!
    </p>
  </div>
  </section>


</div>
