<div class="contact_large_container hide-on-med-and-down">
  <div class="row">

    <div class="col l6">
      <!-- <div class="contact_style_box"> -->
        <img class="responsive-img" id="contact_pic1" src="images/contact.png" alt="" />
      <!-- </div> -->
    </div>

    <div class="col l6">
      <h4 class="us_titles">Contact Us</h4>
      <div class="underline"></div>
      <div class="contact_large">
        <div class="contact_info">
          <ul>
            <li class="text">CEO <span>|</span> Sung Taek Lee</li>
            <li class="text">OFFICE <span>|</span> 303.805.8264</li>
            <li class="text">CELL <span>|</span> 303.523.3216</li>
            <li class="text">EMAIL <span>|</span> sungtaeklee@comcast.net</li>
          </ul>
        </div>
        <div class="contact_info">
          <ul>
            <li class="text_agent">AGENT <span>|</span> Jessica Lee</li>
            <li class="text_agent">OFFICE <span>|</span> 303.805.8264</li>
            <li class="text_agent">CELL <span>|</span> 720.290.8987</li>
            <li class="text_agent">EMAIL <span>|</span> jesslee1315@gmail.com</li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>


<!-- SMALL CONTACT -->
<div class="small-contact hide-on-large-only">
  <div class="row">
    <div class="col s12">
      <h4 class="us_titles">Contact Us</h4>
      <div class="underline"></div>
      <div class='contact_small_container'>
        <div class="contact_info">
          <ul>
            <li class="small_text">CEO <span>|</span> Sung Taek Lee</li>
            <li class="small_text">OFFICE <span>|</span> 303.805.8264</li>
            <li class="small_text">CELL <span>|</span> 303.523.3216</li>
            <li class="small_text">EMAIL <span>|</span> sungtaeklee@comcast.net</li>
          </ul>
        </div>
        <div class="contact_info">
          <ul>
            <li class="small_text_agent">AGENT <span>|</span> Jessica Lee</li>
            <li class="small_text_agent">OFFICE <span>|</span> 303.805.8264</li>
            <li class="small_text_agent">CELL <span>|</span> 720.290.8987</li>
            <li class="small_text_agent">EMAIL <span>|</span> jesslee1315@gmail.com</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
