
<!-- LOANS LARGE -->
<div class='loans-container-large hide-on-med-and-down'>
  <h3 class='page-headers'>Understanding Loans</h3>
  <section class="row">
  <div class="responsive-img contatiner_steps col s12 m6 l6">
    <h5 class="steps_title" id="apr_position">ARP</h5>
    <div class="underline"></div>
    <div class="underline" id="research_line"></div>
    <p class="text">
      The annual percentage rate (or APR) is the amount of interest on your total
      loan amount that you'll pay annually (averaged over the full term of the
      loan). A lower APR translates to lower monthly payments. (You'll see APRs
      alongside interest rates in today's mortgage rates.)
    </p>
    <p class="text">
      In many cases, it makes the most sense to choose a mortgage loan with a lower
      APR. However, sometimes a loan offer with a lower APR may require you to pay
      mortgage points or other fees. If you'd rather use that money toward a down
      payment or to buy appliances and furniture for your new home, you might choose
      a loan with a slightly higher APR that doesn't have these requirements.
    </p>
    <p class="text">
      While the APR makes it easier to compare mortgage offers, you'll want to weigh
      all of the factors involved in getting a mortgage loan. These include the
      size of your down payment, closing costs and money you'll need to set aside to
      furnish and maintain your home. The Mortgage Rate and Payment Calculator is a
      good place to start.
    </p>
  </div>
  </section>
  <br>
  <br>
  <br>
  <section class="row">
  <div class="responsive-img contatiner_steps right col s12 m6 l6">
    <h5 class="steps_title" id="apr_vs_ir_position">APR vs INTEREST RATE</h5>
    <div class="underline"></div>
    <div class="underline" id="left_line"></div>
    <p class="text">
      At its simplest, the interest rate reflects the current cost of borrowing.
      The APR provides a more complete picture by taking the interest rate as a
      starting point and accounting for lender fees required to finance
      the mortgage loan.
    </p>
  </div>
  </section>
  <br>
  <br>
  <br>
  <br>
  <section class="row">
  <div class="responsive-img contatiner_steps col s12 m6 l6">
    <h5 class="steps_title" id="mortgage_point_position">MORTGAGEPOINT</h5>
    <div class="underline"></div>
    <div class="underline" id="research_line"></div>
    <p class="text">
      A mortgage point equals 1 percent of your total loan amount - for example,
      on a $100,000 loan, one point would be $1,000.
    </p>
    <p class="text">
      Mortgage points are essentially a form of prepaid interest you can choose
      to pay up front in exchange for a lower interest rate and monthly payments
      (a practice known as "buying down" your interest rate).
    </p>
    <p class="text">
      In some cases, a lender will offer you the option to pay points along with your
      closing costs. In exchange for each point you pay at closing, your mortgage
      APR will be reduced and your monthly payments will shrink accordingly.
    </p>
    <p class="text">
      Typically, you would buy points to lower your rate on a fixed-rate mortgage.
      Buying points for adjustable rate mortgages only provides a discount on the
      initial fixed period of the loan and isn't typically done.
    </p>
    <p class="text">
      Your mortgage loan originator can help you decide
      whether paying points is an option for you.
    </p>
  </div>
  </section>
  <br>
  <br>
  <br>
  <section class="row">
  <div class="responsive-img contatiner_steps right col s12 m6 l6">
    <h5 class="steps_title" id="affordability_mortgage_position">AFFORDABILITY + MORTGAGE</h5>
    <div class="underline"></div>
    <div class="underline" id="left_line"></div>
    <p class="text">
    Your income, credit history, the size of your down payment, and your employment
    and residence history are all factors in how much you can borrow. Depending on
    circumstances, the amount you can borrow may exceed the amount you can comfortably
    afford - so it pays to borrow cautiously.
    </p>
  </div>
  </section>
  <br>
  <br>
  <br>
  <br>
  <br>
  <section class="row">
  <div class="responsive-img contatiner_steps col s12 m6 l6">
    <h5 class="steps_title" id="fees_position">FEES</h5>
    <div class="underline"></div>
    <div class="underline" id="research_line"></div>
    <p class="text">1. Mortgage application fees</p>
    <p class="text">
      Application fees include "origination" (or "service") fees, which can be flat
      fees, or can range from 1 to 2% of total purchase price. There are also appraisal,
      underwriting and credit reporting fees. These can sometimes be worked into the
      closing costs.
    </p>
    <p class="text">2. Earnest Money</p>
    <p class="text">
      This is an initial deposit to be paid to the seller if your offer is accepted, to
      put weight behind your intention to buy. If yours is among multiple bids on a home,
      the earnest money you put down (also known as a "good faith deposit") may influence
      the seller's decision-making in your favor.
    </p>
    <p class="text">3. Down Payment</p>
    <p class="text">
    You can often get the best mortgage rates by paying a higher mortgage down payment.
    Down payments can range anywhere from 0% to 20% or more of the total cost of the home.
    15% to 20% is ideal. Paying mortgage points up front can also help lower your payments
    and interest.
    </p>
    <p class="text">4. Closing Cost</p>
    <p class="text">
      Final closing costs typically range from 2% to 4% of the total loan amount. Sometimes
      closing costs can be rolled into the mortgage loan amount, which means you can pay
      them off as you pay down your mortgage. Closing costs can include:
    </p>
        <ul class="text">
          <li>1.Mortgage application</li>
          <li>2.Mortgage points</li>
          <li>3.Attorney's fees </li>
          <li>4.Inspections and surveys</li>
          <li>5.Title insurance and title search</li>
          <li>6.Escrow deposit</li>
          <li>7.City recording fees</li>
        </ul>
        <p class="text">
          Don't be intimidated by the list of closing costs. They are all paid
          at once and many can be estimated by the lender up front.
      </p>
  </div>
  </section>
  <br>
  <br>
  <br>
  <br>
  <section class="row">
  <div class="responsive-img contatiner_steps right col s12 m6 l6">
    <h5 class="steps_title" id="home_expense_position">HOME OWNERS EXPENSE</h5>
    <div class="underline"></div>
    <div class="underline" id="left_line"></div>
      <p class="text">
        Owning a home requires financial commitment beyond your monthly mortgage payment, including:
      </p>
          <ul class="text">
            <li>1.Mortgage insurance (required for most mortgages with down payments less than 20%)</li>
            <li>2.Home insurance</li>
            <li>3.Utilities </li>
            <li>4.Repairs</li>
            <li>5.Property taxes</li>
          </ul>
      </div>
    </section>
</div>
<!-- END LOANS LARGE -->


<!-- START LOANS SMALL -->
<div class='loans-container-small hide-on-large-only'>
  <h3 class='page-headers'>Loan Process</h3>
  <section class="row">
  <div class="responsive-img contatiner_steps col s12 m6 l6">
    <h5 class="steps_title" id="apr_position">ARP</h5>
    <div class="underline"></div>
    <div class="underline" id="research_line"></div>
    <p class="text">
      The annual percentage rate (or APR) is the amount of interest on your total
      loan amount that you'll pay annually (averaged over the full term of the
      loan). A lower APR translates to lower monthly payments. (You'll see APRs
      alongside interest rates in today's mortgage rates.)
    </p>
    <p class="text">
      In many cases, it makes the most sense to choose a mortgage loan with a lower
      APR. However, sometimes a loan offer with a lower APR may require you to pay
      mortgage points or other fees. If you'd rather use that money toward a down
      payment or to buy appliances and furniture for your new home, you might choose
      a loan with a slightly higher APR that doesn't have these requirements.
    </p>
    <p class="text">
      While the APR makes it easier to compare mortgage offers, you'll want to weigh
      all of the factors involved in getting a mortgage loan. These include the
      size of your down payment, closing costs and money you'll need to set aside to
      furnish and maintain your home. The Mortgage Rate and Payment Calculator is a
      good place to start.
    </p>
  </div>
  </section>
  <br>
  <br>
  <br>
  <section class="row">
  <div class="responsive-img contatiner_steps right col s12 m6 l6">
    <h5 class="steps_title" id="apr_vs_ir_position">APR vs INTEREST RATE</h5>
    <div class="underline"></div>
    <div class="underline" id="left_line"></div>
    <p class="text">
      At its simplest, the interest rate reflects the current cost of borrowing.
      The APR provides a more complete picture by taking the interest rate as a
      starting point and accounting for lender fees required to finance
      the mortgage loan.
    </p>
  </div>
  </section>
  <br>
  <br>
  <br>
  <br>
  <section class="row">
  <div class="responsive-img contatiner_steps col s12 m6 l6">
    <h5 class="steps_title" id="mortgage_point_position">MORTGAGEPOINT</h5>
    <div class="underline"></div>
    <div class="underline" id="research_line"></div>
    <p class="text">
      A mortgage point equals 1 percent of your total loan amount - for example,
      on a $100,000 loan, one point would be $1,000.
    </p>
    <p class="text">
      Mortgage points are essentially a form of prepaid interest you can choose
      to pay up front in exchange for a lower interest rate and monthly payments
      (a practice known as "buying down" your interest rate).
    </p>
    <p class="text">
      In some cases, a lender will offer you the option to pay points along with your
      closing costs. In exchange for each point you pay at closing, your mortgage
      APR will be reduced and your monthly payments will shrink accordingly.
    </p>
    <p class="text">
      Typically, you would buy points to lower your rate on a fixed-rate mortgage.
      Buying points for adjustable rate mortgages only provides a discount on the
      initial fixed period of the loan and isn't typically done.
    </p>
    <p class="text">
      Your mortgage loan originator can help you decide
      whether paying points is an option for you.
    </p>
  </div>
  </section>
  <br>
  <br>
  <br>
  <section class="row">
  <div class="responsive-img contatiner_steps right col s12 m6 l6">
    <h5 class="steps_title" id="affordability_mortgage_position">AFFORDABILITY + MORTGAGE</h5>
    <div class="underline"></div>
    <div class="underline" id="left_line"></div>
    <p class="text">
    Your income, credit history, the size of your down payment, and your employment
    and residence history are all factors in how much you can borrow. Depending on
    circumstances, the amount you can borrow may exceed the amount you can comfortably
    afford - so it pays to borrow cautiously.
    </p>
  </div>
  </section>
  <br>
  <br>
  <br>
  <br>
  <br>
  <section class="row">
  <div class="responsive-img contatiner_steps col s12 m6 l6">
    <h5 class="steps_title" id="fees_position">FEES</h5>
    <div class="underline"></div>
    <div class="underline" id="research_line"></div>
    <p class="text">1. Mortgage application fees</p>
    <p class="text">
      Application fees include "origination" (or "service") fees, which can be flat
      fees, or can range from 1 to 2% of total purchase price. There are also appraisal,
      underwriting and credit reporting fees. These can sometimes be worked into the
      closing costs.
    </p>
    <p class="text">2. Earnest Money</p>
    <p class="text">
      This is an initial deposit to be paid to the seller if your offer is accepted, to
      put weight behind your intention to buy. If yours is among multiple bids on a home,
      the earnest money you put down (also known as a "good faith deposit") may influence
      the seller's decision-making in your favor.
    </p>
    <p class="text">3. Down Payment</p>
    <p class="text">
    You can often get the best mortgage rates by paying a higher mortgage down payment.
    Down payments can range anywhere from 0% to 20% or more of the total cost of the home.
    15% to 20% is ideal. Paying mortgage points up front can also help lower your payments
    and interest.
    </p>
    <p class="text">4. Closing Cost</p>
    <p class="text">
      Final closing costs typically range from 2% to 4% of the total loan amount. Sometimes
      closing costs can be rolled into the mortgage loan amount, which means you can pay
      them off as you pay down your mortgage. Closing costs can include:
    </p>
        <ul class="text">
          <li>1.Mortgage application</li>
          <li>2.Mortgage points</li>
          <li>3.Attorney's fees </li>
          <li>4.Inspections and surveys</li>
          <li>5.Title insurance and title search</li>
          <li>6.Escrow deposit</li>
          <li>7.City recording fees</li>
        </ul>
        <p class="text">
          Don't be intimidated by the list of closing costs. They are all paid
          at once and many can be estimated by the lender up front.
      </p>
  </div>
  </section>
  <br>
  <br>
  <br>
  <br>
  <section class="row">
  <div class="responsive-img contatiner_steps right col s12 m6 l6">
    <h5 class="steps_title" id="home_expense_position">HOME OWNERS EXPENSE</h5>
    <div class="underline"></div>
    <div class="underline" id="left_line"></div>
      <p class="text">
        Owning a home requires financial commitment beyond your monthly mortgage payment, including:
      </p>
          <ul class="text">
            <li>1.Mortgage insurance (required for most mortgages with down payments less than 20%)</li>
            <li>2.Home insurance</li>
            <li>3.Utilities </li>
            <li>4.Repairs</li>
            <li>5.Property taxes</li>
          </ul>
      </div>
    </section>
</div>
<!-- END LOANS SMALL -->
