
<!-- LARGE TRENDS -->
  <div class="trends-container-large hide-on-med-and-down">
    <h3 class='page-headers'>Market Trends</h3>
    <div class="row" id='trends-large-top-para'>
      <div class='col l6'>
        <a class="twitter-timeline" data-height="500" data-width="500" data-chrome="transparent"  data-border-color="#800000" data-link-color="#800000" href="https://twitter.com/denbizjournal">Tweets by denbizjournal</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class='col l6'>
        <a class="twitter-timeline" data-height="500" data-width="500" data-chrome="transparent"  data-border-color="#800000" data-link-color="#800000" href="https://twitter.com/crej92">Tweets by crej92</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>

    <div class='parallax-container para'>
      <div class="parallax"><img src="images/Mountain-Home3.jpg"></div>
    </div>

    <div class="row">
      <div class="col l6">
        <a class="twitter-timeline" data-height="500" data-width="500" data-chrome="transparent"  data-border-color="#800000" data-link-color="#800000" href="https://twitter.com/aimbuyshouses">Tweets by aimbuyshouses</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class='col l6'>
        <a class="twitter-timeline" data-height="500" data-width="500" data-chrome="transparent"  data-border-color="#800000" data-link-color="#800000" href="https://twitter.com/recolorado_pros">Tweets by REcolorado_Pros</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>



<!-- SMALL TRENDS -->
  <div class="trends-container-small center-align hide-on-large-only">
    <h3 class='page-headers'>Market Trends</h3>
    <div class="row">
      <div class='col s6 m6'>
        <div class='card z-depth-0 small-card' id='small-card-opacity'>
          <a class="twitter-timeline" data-height="250" data-width="auto" data-chrome="transparent"  data-border-color="#800000" data-link-color="#800000" href="https://twitter.com/denbizjournal">Tweets by denbizjournal</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
      <div class='col s6 m6'>
        <div class='card z-depth-0 small-card' id='small-card-opacity'>
          <a class="twitter-timeline" data-height="250" data-width="auto" data-chrome="transparent"  data-border-color="#800000" data-link-color="#800000" href="https://twitter.com/crej92">Tweets by crej92</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class="col s6 m6">
        <div class='card z-depth-0 small-card' id='small-card-opacity'>
          <a class="twitter-timeline" data-height="250" data-width="auto" data-chrome="transparent"  data-border-color="#800000" data-link-color="#800000" href="https://twitter.com/aimbuyshouses">Tweets by aimbuyshouses</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
      <div class='col s6 m6'>
        <div class='card z-depth-0 small-card' id='small-card-opacity'>
          <a class="twitter-timeline" data-height="250" data-width="auto" data-chrome="transparent"  data-border-color="#800000" data-link-color="#800000" href="https://twitter.com/recolorado_pros">Tweets by REcolorado_Pros</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </div>
