<h1 id='trends-headers'>MARKET TRENDS</h1>



  <div class="trends-container-large hide-on-med-and-down">
    <div class="row">
      <div class='col s12 m6 l6 timeline'>
        <a class="twitter-timeline col s12 m6 l6" data-height="700" data-width="500" data-chrome="transparent"  data-border-color="#800000" data-link-color="#800000" href="https://twitter.com/denbizjournal">Tweets by denbizjournal</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        <a class="twitter-timeline col s12 m6 l6" data-height="700" data-width="500" data-chrome="transparent"  data-border-color="#800000" data-link-color="#800000" href="https://twitter.com/crej92">Tweets by crej92</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="col s12 m6 l6 timeline">
        <a class="twitter-timeline col s12 m6 l6" data-height="700" data-width="500" data-chrome="transparent"  data-border-color="#800000" data-link-color="#800000" href="https://twitter.com/aimbuyshouses">Tweets by aimbuyshouses</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        <a class="twitter-timeline col s12 m6 l6" data-height="700" data-width="500" data-chrome="transparent"  data-border-color="#800000" data-link-color="#800000" href="https://twitter.com/recolorado_pros">Tweets by REcolorado_Pros</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="parallax"><img src="images/about_pic1.jpg"></div>
    </div>
  </div>



<!-- SMALL MARKET -->
  <div class="trends-container-small hide-on-large">
    <div class="row">
      <div class='col s6 m6 l6 timeline'>
        <a class="twitter-timeline col s12 m6 l6" data-height="700" data-width="500" data-chrome="transparent"  data-border-color="#800000" data-link-color="#800000" href="https://twitter.com/denbizjournal">Tweets by denbizjournal</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        <a class="twitter-timeline col s12 m6 l6" data-height="350" data-width="500" data-chrome="transparent"  data-border-color="#800000" data-link-color="#800000" href="https://twitter.com/crej92">Tweets by crej92</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="col s6 m6 l6 timeline">
        <a class="twitter-timeline col s12 m6 l6" data-height="350" data-width="500" data-chrome="transparent"  data-border-color="#800000" data-link-color="#800000" href="https://twitter.com/aimbuyshouses">Tweets by aimbuyshouses</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        <a class="twitter-timeline col s12 m6 l6" data-height="700" data-width="500" data-chrome="transparent"  data-border-color="#800000" data-link-color="#800000" href="https://twitter.com/recolorado_pros">Tweets by REcolorado_Pros</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="parallax"><img src="images/about_pic1.jpg"></div>
    </div>
  </div>
