<h1 id='trends-headers'>MARKET TRENDS</h1>

<div class="parallax-container">
    <div class="parallax"><img src="images/about_pic1.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Twitter Trends</h2>
    <p class="grey-text text-darken-3 lighten-3">Keep informed with the Denver commercial and residential Real Estate markets.</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img class="responsive-img" src="images/Logo.png"></div>
</div>
